@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Onest;
}

body {
    background-color: rgb(236,229,231);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.container {
    position: relative;
}

.head {
    background-color: rgb(187,197,244);
    padding: 20px;
    border-radius: 130px 130px 90px 90px;
}

.face {
    background-color: #1d1d1d;
    padding: 90px 50px;
    border-radius: 120px 120px 80px 80px;
}
.eyes {
    height: 100px;
    width: 210px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    
}
.eye {
    background-color: white;
    height: 90px;
    width: 60px;
    border-radius: 100%;
    animation: s444 7s infinite ease;
}

.ups {
    position: absolute;
    right: 50%;
    left: 35%;
    top: -150px;
    font-weight: 700;
    color: #1d1d1d;
}

#icon {
    font-size: 8rem;
}

span {
    font-size: 5rem;
    font-weight: 800;
    color: #1d1d1d;
    outline: none;
}

p {
    width: 500px;
    text-align: center;
}

@keyframes s444 {
    0% {
        height: 90px;
    }

    10% {
        height: 0px;
        transform: translate(40px);
    }

    20% {
        height: 90px;
    }

    35% {
        transform: translate(40px);
    }

    40% {
        height: 90px;
    }

    60% {
        transform: translate(-40px);
    }

    100% {
        transform: translate(0);
    }

}